<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebServiceServerExample</display-name>
  <welcome-file-list>
  	<welcome-file>predictions.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
      com.sun.xml.ws.transport.http.servlet.WSServletContextListener
    </listener-class>
  </listener>
  <!--  Simple comment -->
  <!--  Second comment -->
  <!-- third comment -->
  <servlet>
    <servlet-name>predictor</servlet-name>
    <servlet-class>com.jwsur.ch2.PredictionsServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>jersey</servlet-name>  
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>  
    <load-on-startup>1</load-on-startup>
  </servlet>
  	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<!-- Application class name -->
			<param-name>org.restlet.application</param-name>
			<param-value>com.jwsur.ch2.restlet.AdagesApplication</param-value>
		</init-param>
	</servlet>
	 <servlet>
    <servlet-name>jaxws</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws</servlet-name>
    <url-pattern>/ch4/javaxws/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jaxws</servlet-name>
    <url-pattern>/ch2/javaxws/*</url-pattern>
  </servlet-mapping>
<!-- Dispach all requests to the Restlet servlet. -->
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/ch2/restlet/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/ch2/jersey/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>predictor</servlet-name>
    <url-pattern>/ch2/prediction/*</url-pattern>
  </servlet-mapping>
</web-app>