<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebServiceServerExample</display-name>
  <welcome-file-list>
  	<welcome-file>predictions.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!--  Simple comment -->
  <!--  Second comment -->
  <!-- third comment -->
  <servlet>
    <servlet-name>predictor</servlet-name>
    <servlet-class>com.jwsur.ch2.PredictionsServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>jersey</servlet-name>  
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>  
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>predictor</servlet-name>
    <url-pattern>/ch2/*</url-pattern>
  </servlet-mapping>
</web-app>